#secretAnswerBody {
  max-width: 700px;
  text-align: center;
  margin: auto;
  padding: 80px;
}

#errorsDiv {
  display: none;
}

.alert-danger {
  height: 60px;
}

.hasError {
  border: 2px solid;
  border-color: red;
}

form {
  margin-bottom: 32px;
}
