.navbar-brand {
    margin: var(--margin-sm);
    font-size: var(--text-xl);
}
.heroText {
    font-size: var(--text-xxl);
    margin: var(--margin-lg);
}
.postDiv {
    background: var(--color-primary);
    padding: var(--padding-sm);
    text-decoration: none;
    margin: var(--margin-md);
    border-radius: 5px;
    box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.75);
    text-align: var(--align-left);
    overflow: hidden;
    height: 600px;

    &:hover {
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
        transform: scale(1.1, 1.1);
    }
}
.row {
    margin: var(--margin-md);
    padding: var(--padding-lg);
}
.postTitle {
    color: var(--color-txt-primary);
    font-size: var(--text-md);
}
.postBody {
    color: var(--color-txt-primary);
    font-size: var(--text-xs);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}