.commentsDiv {
  margin: auto;
  width: 70%;
  padding: 32px;
  margin-bottom: 32px;
}
.comment {
  color: var(--color-secondary);
  text-align: left;
  line-height: var(--line-height--md);
}
.commentsText {
  color: var(--color-txt-secondary);
  line-height: var(--line-height--sm);
  font-size: var(--fontSize-sm);
}
.commentsTextPost {
  @extend .comment;
  font-size: var(--fontSize-md);
  margin-bottom: 32px;
}
.commentsTitle {
  @extend .comment;
  font-size: var(--fontSize-lg);
}
