.loader {
  border: 16px solid var(--color-txt-primary);
  margin: auto;
  margin-top: 160px;
  border-radius: 50%;
  border-top: 16px solid var(--color-secondary);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.bodyText {
  width: 70%;
  text-align: left;
  font-size: var(--fontSize-lg);
  line-height: var(--line-height--md);
  margin: auto;
  margin-bottom: 32px;
}
a {
  text-decoration: none !important;
}
