@use "scss/colors" as *;
@use "scss/fontSize" as *;
@use "scss/lineHeight" as *;
@use "components/CommentsC/comments" as *;
@use "components/FilterC/filter" as *;
@use "components/SinglePostC/singlePost" as *;
@use "components/PostsC/posts" as *;
@use "components/UsersC/users" as *;
@use "components/SecretAnswerC/secretAnswer.scss" as *;

body {
  font-size: var(--fontSize-xs);
}
.App-header {
  background-color: var(--color-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fontSize-xl);
  color: var(--color-txt-primary);
}
.content {
  max-width: 1600px;
  text-align: center;
  margin: auto;
  padding: 80px;
}
.blueText {
  color: var(--color-secondary);
}
