:root {
  // Body text size
  --text-base-size: 16px;

  // Scale text styles
  --text-xs: 1rem;
  --text-sm: 1.2rem;
  --text-md: 1.4rem;
  --text-lg: 1.6rem;
  --text-xl: 1.8rem;
  --text-xxl: 2rem;
}
