:root {
  //Scale line heights
  --line-height-multiplier: 1.1;
  --line-height--sm: 2;
  --line-height--md: calc(
    var(--line-height-sm) * var(--line-height-multiplier)
  );
  --line-height--lg: calc(
    var(--line-height--md) * var(--line-height-multiplier)
  );
}
