:root{
//Scale line heights
--line-height-multiplier: 1.10;
--line-height--sm: 2rem;
--line-height--md: calc(var(--line-height-sm) * var(--line-height-multiplier));
--line-height--lg: calc(var(--line-height--md) * var(--line-height-multiplier));
}